<html>

<head>

</head>

<body>
   <div style="padding: 30px">
   
   <h2>See console for error and <code>./main.ts</code> for code.</h2>
  
   <lion-radio-group name="dinos2" label="What are your favourite dinosaurs?">
    <lion-radio label="allosaurus" choiceValue='"allosaurus"'></lion-radio>
    <lion-radio label="brontosaurus" choiceValue='"brontosaurus"'></lion-radio>
    <lion-radio label="diplodocus" choiceValue='"diplodocus"'></lion-radio>
  </lion-radio-group>

  <p>The order in which the radio and radio-group packages are imported impacts whether this
    error happens or not/</p>
  <h4>When imported in this order, it doesn't throw an error</h4>
  <pre>
    import '@lion/radio-group/lion-radio-group.js';
    import '@lion/radio-group/lion-radio.js';
  </pre>
  <h4>When imported in this order, it throws an error</h4>
  <pre>
    import '@lion/radio-group/lion-radio.js';
    import '@lion/radio-group/lion-radio-group.js';
  </pre>
  
</div>
</body>

</html>