<html>

<head>

</head>

<body >
   <div style="padding: 30px">
  
    <p>Extended</p>
   <lion-radio-group name="dinos" label="What are your favourite dinosaurs?">
        <adpl-radio label="allosaurus" ></adpl-radio>
        <adpl-radio label="brontosaurus" ></adpl-radio>
        <adpl-radio label="diplodocus"></adpl-radio>
   </lion-radio-group>

   <p>Original Lion</p>
   <lion-radio-group name="dinos" label="What are your favourite dinosaurs?">
    <lion-radio label="allosaurus" ></lion-radio>
    <lion-radio label="brontosaurus" ></lion-radio>
    <lion-radio label="diplodocus"></lion-radio>
  </lion-radio-group>
</div>
</body>

</html>